body {
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #080806;
}

h1, h2 {
    margin: 0;
    background-color: white;
    color: rgb(77, 75, 75);
    justify-content: center;
    align-items: center;
    text-align: center;
}